:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #eee;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem; /* reduced padding */
  text-align: center;
}

.button-container {
  margin-top: 10px; /* reduced margin */
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px; /* reduced margin */
}

.button-container button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.button-container button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.button-container button:active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Neon effect */
.button-container button {
  box-shadow: 0 0 10px rgba(57, 255, 20, 0.5), 0 0 20px rgba(57, 255, 20, 0.3), 0 0 30px rgba(57, 255, 20, 0.1);
  animation: neon-glow 1.5s infinite;
}

@keyframes neon-glow {
  0% {
    box-shadow: 0 0 10px rgba(57, 255, 20, 0.5), 0 0 20px rgba(57, 255, 20, 0.3), 0 0 30px rgba(57, 255, 20, 0.1);
  }
  50% {
    box-shadow: 0 0 15px rgba(57, 255, 20, 0.7), 0 0 30px rgba(57, 255, 20, 0.5), 0 0 45px rgba(57, 255, 20, 0.3);
  }
  100% {
    box-shadow: 0 0 10px rgba(57, 255, 20, 0.5), 0 0 20px rgba(57, 255, 20, 0.3), 0 0 30px rgba(57, 255, 20, 0.1);
  }
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* reduced gap */
  min-height: 500px;
  justify-content: center;
}

.section {
  padding: 20px; /* reduced padding */
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

.welcome-message {
  text-align: center;
  padding: 0px 20px 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 0; /* removed negative margin */
}

.hero-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hero-img-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
  .section {
    flex-basis: 100%;
  }
}